<% provide(:title, 'Exit User') %>

<div class="container f-padding-top">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="innter-form">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>
            <div class="form-group">
              <%= f.label :name,class:"text-black-bold" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :email ,class:"text-black-bold"%>
              <%= f.email_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password ,class:"text-black-bold" %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="form-group ">
              <%= f.label :password_confirmation, "Confirmation",class:"text-black-bold" %>
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
            <div class="form-group f-padding-top">
            <%= f.submit "Lưu thay đổi", class: "btn btn-primary center-block" %>
            </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
