<% provide(:title, @user.name) %>

<div class="w3-container w3-content" style="max-width:1400px">
  <!-- The Grid -->
  <div class="w3-row">
    <div class="w3-col m10 f-padding-right">
      <!-- Profile -->
      <div id="div-cover" class="background-final">

        <div id="cover" class="cover">
          <div class="info-profile">
            <div id="name">
              <h4 class="text-white">Đồng Gia</h4>
              <h5 class="text-white">(FunLife)</h5>
            </div>

            <div id="button-info">
              <% if current_user?(@user) %>
                  <ul>
                    <div class="button-default">
                      <%= link_to "Cập nhật thông tin", edit_user_path(current_user), class: "text-button-default", title: "Cập nhật thông tin" %>
                      <%= link_to "10+", edit_user_path(current_user), class: "text-notifi", title: "Cập nhật thông tin" %>
                    </div>

                  </ul>
              <% else %>
                  <div class="button-default">
                    <%= link_to "Follow", edit_user_path(current_user), class: "text-button-default", title: "Follow" %>
                    <%= link_to "", edit_user_path(current_user), class: "text-notifi", title: "Follow" %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>

        <div id="tab-cover" class="tab-cover">
          <div class="ul-tab-cover">
            <ul id="topTab">
              <li><a href="" title="More">Xem thêm</a></li>
              <li><a href="" title="Photos">Ảnh</a></li>
              <li><a href="" title="Friends">Bạn bè</a></li>
              <li><a href="" title="About">Giới thiệu</a></li>
              <li><a href="" title="Timeline" class="current text-center">Dòng thời gian</a></li>
            </ul>
          </div>
        </div>

        <div class="avatar">

        </div>

        <!--<div class="w3-container">-->
        <!--<h4 class="w3-center">My Profile</h4>-->
        <!--<p class="w3-center">-->
        <!--<img src="https://scontent.fhan5-3.fna.fbcdn.net/v/t1.0-9/14080058_1375193189162262_5980865597750089307_n.jpg?oh=536051238f892af86edc98c66f8f20be&oe=5AAE92B5" class="w3-circle" style="height:106px;width:106px" alt="Avatar">-->
        <!--</p>-->
        <!--<hr>-->
        <!--<p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>-->
        <!--<p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>-->
        <!--<p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>-->
        <!--</div>-->
      </div>
      <br>


      <!-- Left Column -->
      <div class="w3-col m3">
        <div class="w3-round">
          <div class="background-final">

            <button  class="f-button w3-block w3-left-align text-size-small">
              <i class="fa fa-heart w3-margin-right"></i> <b> Following</b> <b class="text-notifi">480</b>
            </button>

            <button  class="f-button w3-block w3-left-align text-size-small">
              <i class="fa fa-heart-o w3-margin-right"></i> <b>Follower</b>
              <b class="text-notifi">570</b>
            </button>
            <br>
            <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l2 w3-left-align">
              <i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups
            </button>
            <div id="Demo1" class="w3-hide w3-container">
              <p>Some text..</p>
            </div>
            <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l3 w3-left-align">
              <i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events
            </button>
            <div id="Demo2" class="w3-hide w3-container">
              <p>Some other text..</p>
            </div>
            <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align">
              <i class="fa fa-users fa-fw w3-margin-right"></i> My Photos
            </button>
            <div id="Demo3" class="w3-hide w3-container">
              <div class="w3-row-padding">
                <br>
                <div class="w3-half">
                  <img src="https://www.google.com.vn/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjXyLfmxYTXAhWFGJQKHQNNCpMQjRwIBw&url=https%3A%2F%2Fwww.promotionandarts.org%2Fevents-festivals%2Flight-city&psig=AOvVaw1MpjjOCSlsC03rholV4jLD&ust=1508772528401425" style="width:100%" class="w3-margin-bottom">
                </div>
                <div class="w3-half">
                  <img src="https://www.google.com.vn/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjXyLfmxYTXAhWFGJQKHQNNCpMQjRwIBw&url=https%3A%2F%2Fwww.promotionandarts.org%2Fevents-festivals%2Flight-city&psig=AOvVaw1MpjjOCSlsC03rholV4jLD&ust=1508772528401425" style="width:100%" class="w3-margin-bottom">
                </div>
                <div class="w3-half">
                  <img src="https://www.google.com.vn/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjXyLfmxYTXAhWFGJQKHQNNCpMQjRwIBw&url=https%3A%2F%2Fwww.promotionandarts.org%2Fevents-festivals%2Flight-city&psig=AOvVaw1MpjjOCSlsC03rholV4jLD&ust=1508772528401425" style="width:100%" class="w3-margin-bottom">
                </div>
                <div class="w3-half">
                  <img src="https://www.google.com.vn/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjXyLfmxYTXAhWFGJQKHQNNCpMQjRwIBw&url=https%3A%2F%2Fwww.promotionandarts.org%2Fevents-festivals%2Flight-city&psig=AOvVaw1MpjjOCSlsC03rholV4jLD&ust=1508772528401425" style="width:100%" class="w3-margin-bottom">
                </div>
                <div class="w3-half">
                  <img src="https://www.google.com.vn/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjXyLfmxYTXAhWFGJQKHQNNCpMQjRwIBw&url=https%3A%2F%2Fwww.promotionandarts.org%2Fevents-festivals%2Flight-city&psig=AOvVaw1MpjjOCSlsC03rholV4jLD&ust=1508772528401425" style="width:100%" class="w3-margin-bottom">
                </div>
                <div class="w3-half">
                  <img src="https://www.google.com.vn/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjXyLfmxYTXAhWFGJQKHQNNCpMQjRwIBw&url=https%3A%2F%2Fwww.promotionandarts.org%2Fevents-festivals%2Flight-city&psig=AOvVaw1MpjjOCSlsC03rholV4jLD&ust=1508772528401425" style="width:100%" class="w3-margin-bottom">
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>

        <!-- Interests -->
        <div class="w3-card-2 w3-round w3-white w3-hide-small">
          <div class="w3-container">
            <p>Interests</p>
            <p>
              <span class="w3-tag w3-small w3-theme-d5">News</span>
              <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
              <span class="w3-tag w3-small w3-theme-d3">Labels</span>
              <span class="w3-tag w3-small w3-theme-d2">Games</span>
              <span class="w3-tag w3-small w3-theme-d1">Friends</span>
              <span class="w3-tag w3-small w3-theme">Games</span>
              <span class="w3-tag w3-small w3-theme-l1">Friends</span>
              <span class="w3-tag w3-small w3-theme-l2">Food</span>
              <span class="w3-tag w3-small w3-theme-l3">Design</span>
              <span class="w3-tag w3-small w3-theme-l4">Art</span>
              <span class="w3-tag w3-small w3-theme-l5">Photos</span>
            </p>
          </div>
        </div>
        <br>

        <!-- Alert Box -->
        <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
          <p><strong>Hey!</strong></p>
          <p>People are looking at your profile. Find out who.</p>
        </div>

        <!-- End Left Column -->
      </div>

      <!-- Middle Column -->
      <div class="w3-col m9">
        <div class="w3-row-padding">
          <div class="w3-col m12">
            <div class="w3-card-2  w3-white">
              <div class="w3-container w3-padding">
                <h6 class="w3-opacity">FunLife Social </h6>
                <% if current_user?(@user) %>
                    <%= form_for(@micropost) do |f| %>
                        <%= f.text_area :content, placeholder: "Bạn đang nghĩ gì?...", id: "post", class: "field w3-border w3-padding", contenteditable: "true" %>
                        <!--<button type="button" class="w3-button w3-theme f-margin-top-small"><i class="fa fa-pencil"></i>  Post</button>-->
                        <%= f.submit "Post", class: "w3-button w3-theme f-margin-top-small" %>

                        <%= f.file_field :picture, class: "f-margin-top-small w3-right", accept: 'image/jpeg,image/gif,image/png' %>
                    <% end %>
                <% end %>
                <script type="text/javascript">
                    $('#micropost_picture').bind('change', function () {
                        var size_in_megabytes = this.files[0].size / 1024 / 1024;
                        if (size_in_megabytes > 5) {
                            alert('Maximum file size is 5MB. Please choose a smaller file.');
                        }
                    });
                </script>

              </div>
            </div>
          </div>
        </div>


        <% if @user.microposts.any? %>
            <%= render @microposts %>
        <% end %>
      </div>


    </div>

    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="https://www.google.com.vn/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjXyLfmxYTXAhWFGJQKHQNNCpMQjRwIBw&url=https%3A%2F%2Fwww.promotionandarts.org%2Fevents-festivals%2Flight-city&psig=AOvVaw1MpjjOCSlsC03rholV4jLD&ust=1508772528401425" alt="Forest" style="width:100%;">
          <p><strong>Holiday</strong></p>
          <p>Friday 15:00</p>
          <p>
            <button class="w3-button w3-block w3-theme-l4">Info</button>
          </p>
        </div>
      </div>
      <br>

      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Friend Request</p>
          <img src="https://scontent.fhan5-3.fna.fbcdn.net/v/t1.0-9/14080058_1375193189162262_5980865597750089307_n.jpg?oh=536051238f892af86edc98c66f8f20be&oe=5AAE92B5" alt="Avatar" style="
          width:50%"><br>
          <span>Jane Doe</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i>
              </button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="w3-card-2 w3-round w3-white w3-padding-16 w3-center">
        <p>ADS</p>
      </div>
      <br>

      <div class="w3-card-2 w3-round w3-white w3-padding-32 w3-center">
        <p><i class="fa fa-bug w3-xxlarge"></i></p>
      </div>

      <!-- End Right Column -->
    </div>
  </div>
  <!-- End Page Container -->
</div>
<br>


